.nav {
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  padding: 0 1.6rem;
  position: fixed;
  transition: 0.5s ease;
  z-index: 1;
}

.nav--show {
  background-color: rgba(1, 1, 1, 0.8);
  transition: 0.5s ease;
}

.nav__logo {
  width: 80px;
  object-fit: contain;
  height: 100%;
}